# Environments
.idea/
__pycache__
.env
.venv
ml_models
src/ml_models/
src/services/models/FeaturesExtractor/Pretrained
src/services/models/ImageCropper/Pretrained
newtest
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
src/ml_models/
/src/services/ml_models/
ml_models/
src/static/uploads/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
src/image_search/files
src/data/sampledata.py
__pycache__/
**/__pycache__/
/instance